.border-right {
  border-right: 1px solid #D1D1D1 !important;
}

.border-bottom-d1d1d1 {
  border-bottom: 1px solid #D1D1D1 !important;
}

.bg-f3f3f3 {
  background-color: #f3f3f3 !important;
}

.red-dot {
  position: absolute;
  background-color: red;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  right: 10px;
}

.side-menu-item {
  color: #7C7C7C !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 8px 16px;
  width: 100%;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
}


.side-menu-item:hover,
.side-menu-active {
  color: #ab37e7 !important;
  background-color: #ab37e726;
}

.mt-2px {
  margin-top: 2px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.user-profile {
  padding: 2px;
  border: 2px solid #ccc;
  width: 57.6px;
  height: 57.6px;
  transition: ease-in 0.5s;
}

.user-profile:hover {
  padding: 2px;
  border: 2px solid #ab37e7;
}

.trans-1 {
  transition: 1000ms
}

.logosvg {
  padding-top: 10px;
  width: 48px;
  height: 48px;
}

.edulogo {
  /*display: flex;*/
  /*align-content: flex-start;*/
  padding: 8px 0px 0px 0px;
}

.nav-shadow {
  position: fixed;
  display: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  margin-left: auto;
  opacity: 0;
  transition: visibility 0.1s linear, opacity 0.1s linear;
  -webkit-tap-highlight-color: transparent;
  background-color: #181818ab;
  z-index: 9;
}

.nav-iconset .collapse:not(.show) {
  display: flex !important;
}

.toggle-expand-button svg {
  vertical-align: middle;
  color: #ab37e7;
}

.toggle-expand-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .mobile-navbar-hide {
    /*display: none !important;*/
    width: 0 !important;
    overflow: hidden !important;
  }

  .nav-shadow {
    display: flex !important;
  }

  .mobile-hide {
    display: none !important;
  }

  .mobile-show {
    display: block !important;
    width: 280px !important;
    z-index: 999;
    transition: width 0.1s linear;
    /*transition: 0.5s !important;*/
  }

  .toggle-expand-button {
    margin-left: 10px;
  }

  .home-mobile {
    margin-top: 35px !important;
  }
}

.w-100px {
  width: 100px !important;

}

.rotate-180 {
  transform: rotate(180deg);
}

.close-btn-container {
  border-radius: 6px 0px 0px 6px;
  border: 1px solid #D1D1D1;
  justify-content: end;
  margin-left: auto;
  display: flex;
  width: fit-content;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-right-width: 0;
}

.logo {
  display: flex;
}

.toggle-text-green {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ab37e7;
}

.toggle-icon-active {
  filter: invert(59%) sepia(93%) saturate(376%) hue-rotate(98deg) brightness(84%) contrast(100%);
}

.toggle-active-feather {
  color: #ab37e7;
}

.toggle-expand-button svg {
  vertical-align: super;
  color: #ab37e7;
}

.toggle-expand-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 180px;
}

.toggle-expand-button:hover svg {
  transform: rotate(180deg);
}

.toggleLayout-heading {
  font: normal normal 600 16px/25px Poppins;
  letter-spacing: 0;
  color: #ab37e7;
  transition: color 0.3s;
}

.image-container-toggle {
  text-align: center;
  height: 48px;
  width: 48px;
  background: #f5f5f5 0 0 no-repeat padding-box;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding: 11px;
  display: inline-block;
}